<div class="description">
    <h2>Кулинария Центрального Вьетнама</h2>
    <p class="content">
        Климат и рельеф Центральной прибрежной равнины, простирающейся с севера на юг, постепенно меняются, поэтому
        обработка, наслаждение, ингредиенты и фирменные блюда каждого региона отличаются. Ни один регион не пересекается
        с другим, и эти вкусы можно найти только в других географических точках, что также непреднамеренно создает
        разнообразие центральной кухни. Центральный регион с его вытянутой и узкой местностью страдает от многочисленных
        стихийных бедствий, наводнений и сурового климата. Поэтому люди здесь более трудолюбивы и усердны. В блюдах
        также сделан акцент на глубине вкуса, без излишней вычурности или показного пафоса. Это единственная общая
        черта, которая создает колорит центральной кухни. </p>
    <p class="content">Центральная кухня делится на 3 региона:</p>
</div>
<div class="session">
    <div class="title">Южный Центральный</div>
    <p class="content"> Южно-центральный регион с ярко выраженной прибрежной идентичностью является краем блюд из морепродуктов. Блюда южно-центральной дельты Нила покоряют гурманов своим сладким, прохладным вкусом моря и разнообразными способами приготовления. От перевала Хайван к югу и далее на юг каждая провинция имеет свою особую кулинарную культуру.
    </p>
    <div class="gallery">
        <div class="col">
            <figure>
                <p class="image-name">"Бань хой лонг хео (вермишель со свиными потрохами)"</p>
                <img src="assets/images/central/South Central Region/banh hoi long heo.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Бань чанг куон тхит Дананг (роллы со свининой)"</p>
                <img src="assets/images/central/South Central Region/banh trang cuon thit heo.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Бань кань хе (суп-лапша с луком-пореем)"</p>
                <img src="assets/images/central/South Central Region/banh canh he.jpeg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Бун мам нем Дананг (вермишель с анчоусным соусом)"</p>
                <img src="assets/images/central/South Central Region/bun mam nem da nang.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Као лау Хойан (лапша Као Лау)"</p>
                <img src="assets/images/central/South Central Region/cao lau hoi an.jpg" alt="dddd">
            </figure>
        </div>
        <div class="col">
            <figure>
                <p class="image-name">"Ча донг Фуйен (котлеты из ящерицы)"</p>
                <img src="assets/images/central/South Central Region/cha dong phu yen.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Ча ка (рыбные котлеты)"</p>
                <img src="assets/images/central/South Central Region/cha ca.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Ком га Тамки (рис с курицей по-тамкийски)"</p>
                <img src="assets/images/central/South Central Region/com ga tam ki.png" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Бань сео Ниньтхуан (хрустящие блинчики)"</p>
                <img src="assets/images/central/South Central Region/banh xeo.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Зе бо Тэйшон (говяжий суп)"</p>
                <img src="assets/images/central/South Central Region/gie bo tay son.jpg" alt="dddd">
            </figure>
        </div>
        <div class="col">
            <figure>
                <p class="image-name">"Гой ка май (салат из сырой рыбы май)"</p>
                <img src="assets/images/central/South Central Region/goi ca mai.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Гой ка нам Дананг (салат из сырой рыбы нам)"</p>
                <img src="assets/images/central/South Central Region/goi ca.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Мат ка нгы дайзыонг (глаза тунца)"</p>
                <img src="assets/images/central/South Central Region/mat ca ngu dai duong.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Ми куанг (лапша Куанг)"</p>
                <img src="assets/images/central/South Central Region/my quang.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Че ром (ферментированная свинина в соломе)"</p>
                <img src="assets/images/central/South Central Region/tre rom.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Сой бо кау (клейкий рис с голубем)"</p>
                <img src="assets/images/central/South Central Region/xoi bo cau.jpg" alt="dddd">
            </figure>
        </div>
    </div>
</div>
<hr>
<div class="session">
    <div class="title">Центральное нагорье (Тэйнгуен)</div>
    <p class="content">Говоря о кухне Центрального нагорья, сразу представляются простые деревенские блюда с уникальными способами приготовления, насыщенные горным колоритом. Кухня, люди, а также особые обычаи и традиции среди величественных гор и бескрайних кофейных плантаций привлекают путешественников со всей страны.
    </p>
    <p class="content">Кухня Центрального нагорья, сопровождаемая традиционными фестивалями, ярко отражающими национальную идентичность, является одним из привлекательных моментов для туристов. Это также сильная сторона региона для инвестиций, развития туризма и улучшения жизни местного населения. Уникальные черты кухни Центрального нагорья удивят вас, и каждый, кто сюда приезжает, остается под впечатлением и запоминает их надолго.
    </p>
    <div class="gallery">
        <div class="col">
            <figure>
                <p class="image-name">"Бань ыот лонг га (паровые роллы с куриными потрохами)"</p>
                <img src="assets/images/central/Central Highlands/banh uot long ga.jpeg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Бо ныонг онг че (говядина в бамбуке)"</p>
                <img src="assets/images/central/Central Highlands/bo nuong ong tre.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Бун мам куа (вермишель с крабовой пастой)"</p>
                <img src="assets/images/central/Central Highlands/bun mam cua.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Хео куай Мангден (жареная свинина)"</p>
                <img src="assets/images/central/Central Highlands/heo quay mang den.jpeg" alt="dddd">
            </figure>
        </div>
        <div class="col">
            <figure>
                <p class="image-name">"Ка гой киен ванг (рыбный салат с золотыми муравьями)"</p>
                <img src="assets/images/central/Central Highlands/ca goi kien vang.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Ка ланг (рыба ланг / сом)"</p>
                <img src="assets/images/central/Central Highlands/ca lang.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Ком лам (рис в бамбуке)"</p>
                <img src="assets/images/central/Central Highlands/com lam.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Га ныонг ком лам (курица-гриль с рисом ком лам)"</p>
                <img src="assets/images/central/Central Highlands/ga nuong com lam.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Гой ка Контум (рыбный салат из Контума)"</p>
                <img src="assets/images/central/Central Highlands/goi ca kom tum.jpg" alt="dddd">
            </figure>
        </div>
        <div class="col">
            <figure>
                <p class="image-name">"Ка бонг кхо зиенг (тушеный бычок с галангалом)"</p>
                <img src="assets/images/central/Central Highlands/ca bong kho gieng.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Фо га Зялай (куриный суп Фо)"</p>
                <img src="assets/images/central/Central Highlands/pho ga gia lai.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Рыоу кан (вино из кувшина)"</p>
                <img src="assets/images/central/Central Highlands/ruou can.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Сой манг Контум (клейкий рис с бамбуком)"</p>
                <img src="assets/images/central/Central Highlands/xoi mang kon tum.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Бун до (красная вермишель)"</p>
                <img src="assets/images/central/Central Highlands/bun do.jpg" alt="dddd">
            </figure>
        </div>
    </div>
</div>
<hr>
<div class="session">
    <div class="title">Север Центрального Побережья</div>
    <div class="title">Земля Хюэ (Кухня Хюэ)</div>
    <p class="content">Северо-Запад – это регион со множеством мест для развития общинного туризма, где сходятся, сохраняются и оберегаются квинтэссенции культурных ценностей этнических сообществ. Типичными примерами являются обычаи и традиции, фестивали, декоративное искусство, кулинария, а также культурные мероприятия сообщества, такие как весенние фестивали, культура ярмарок, свадьбы, похороны, праздник нового риса, обряды поклонения лесу… Среди этих культурных аспектов традиционная кухня, связанная с местной культурой каждого народа, сохраняется, передается и развивается соотечественниками как в культурной жизни, так и в развитии общинного туризма в каждой деревне, внося важный вклад в формирование самобытности каждого туристического направления.
    </p>
    <p class="content">Чтобы приготовить блюда, насыщенные традиционными красками и вкусами, в деревнях представители этнических групп сами находят ингредиенты в лесу или в своих садах, а не покупают их. В зависимости от сезона, используются всегда свежие и ароматные продукты, такие как лесной бамбук, речная рыба, вяленая свинина, копченое мясо, цветной клейкий рис, различные виды пирожков, лесные травы, собранные у ручьев... Собрав ингредиенты, они готовят блюда по традиционным рецептам. Для создания необычных вкусов используются лесные специи, такие как семена дой, маккхен, перец, чили, ароматные листья, а также проявляется творческий подход к приготовлению.
    </p>
    <div class="gallery">
        <div class="col">
            <figure>
                <p class="image-name">"Бань кань Намфо (суп-лапша Намфо)"</p>
                <img src="assets/images/central/hue/banh canh nam pho.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Бань нам Хюэ (паровые пирожки Хюэ)"</p>
                <img src="assets/images/central/hue/banh nam hue.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Бань бео (паровые лепешки)"</p>
                <img src="assets/images/central/hue/banh beo.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Бань эп Хюэ (прессованные лепешки Хюэ)"</p>
                <img src="assets/images/central/hue/banh ep hue.png" alt="dddd">
            </figure>
        </div>
        <div class="col">
            <figure>
                <p class="image-name">"Ком хен Хюэ (рис с моллюсками Хюэ)"</p>
                <img src="assets/images/central/hue/com hen hue.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Бань лок (прозрачные пирожки из тапиоки)"</p>
                <img src="assets/images/central/hue/banh loc1.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Бун бо Хюэ (острый говяжий суп-лапша Хюэ)"</p>
                <img src="assets/images/central/hue/bun bo hue.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Че хем (десерт из переулка Хем)"</p>
                <img src="assets/images/central/hue/che hem.jpeg" alt="dddd">
            </figure>
        </div>
        <div class="col">
            <figure>
                <p class="image-name">"Бань рам ит (клейкие пирожки с хрустящей основой)"</p>
                <img src="assets/images/central/hue/banh ram it.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"maxresdefault"</p>
                <img src="assets/images/central/hue/maxresdefault.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Нем чуа Хюэ (ферментированная свинина Хюэ)"</p>
                <img src="assets/images/central/hue/nem chua hue.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Че Хюэ (ферментированная свинина по-хюэски)"</p>
                <img src="assets/images/central/hue/tre hue.jpg" alt="dddd">
            </figure>
        </div>
    </div>
</div>
<hr>
<div class="session">
    <div class="title">Земля Нге (Кухня Нгеана)</div>
    <p class="content">Нгеан известен не только как земля талантливых людей и священных мест, но и как регион с богатой культурной самобытностью. Каждая сфера культурной жизни имеет свои особенности, среди которых кулинарная культура ярко отражает быт и характер людей этого края, известного своими жаркими ветрами из Лаоса.
    </p>
    <div class="gallery">
        <div class="col">
            <figure>
                <p class="image-name">"Бань да сук хен (рисовые крекеры с моллюсками)"</p>
                <img src="assets/images/central/xu nghe/banh da xuc hen.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Бань нгао (сладкие рисовые шарики в сиропе)"</p>
                <img src="assets/images/central/xu nghe/banh ngao.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Бань гао (рисовые пирожки)"</p>
                <img src="assets/images/central/xu nghe/banh gao.JPG" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Бань ыот Зьентяу (паровые роллы Зьентяу)"</p>
                <img src="assets/images/central/xu nghe/banh uot dien chau.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Тяо лыон Нгеан (угорьевая каша Нгеан)"</p>
                <img src="assets/images/central/xu nghe/chao luon nghe an.png" alt="dddd">
            </figure>
        </div>
        <div class="col">
            <figure>
                <p class="image-name">"Тяо кань (густой суп-каша с лапшой)"</p>
                <img src="assets/images/central/xu nghe/chao canh.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Тяо нгеу Кыало (каша с моллюсками Кыало)"</p>
                <img src="assets/images/central/xu nghe/chao ngheu cua lo.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Мык няй Кыало (свежайшие кальмары Кыало)"</p>
                <img src="assets/images/central/xu nghe/muc nhay cua lo.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Нют Тханьчыонг (ферментированный джекфрут)"</p>
                <img src="assets/images/central/xu nghe/nhut thanh chuong.jpg" alt="dddd">
            </figure>
        </div>
        <div class="col">
            <figure>
                <p class="image-name">"Гой ка дук (салат из рыбы дук)"</p>
                <img src="assets/images/central/xu nghe/goi ca duc.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Кео Кудо Хатинь (арахисовые конфеты Кудо)"</p>
                <img src="assets/images/central/xu nghe/keo cudo.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Бань лок Хюэ (прозрачные пирожки из тапиоки Хюэ)"</p>
                <img src="assets/images/central/xu nghe/banh loc hue.jpg" alt="dddd">
            </figure>
        </div>
    </div>
</div>
<hr>
<div class="session">
    <div class="title">Земля Тхань (Кухня Тханьхоа)</div>
    <p class="content">Люди земли Тхань по своей природе просты и честны, пейзажи здесь все еще дикие, а знаменитые достопримечательности и исторические памятники, кажется, разбросаны по всему региону Тханьхоа. Местные деликатесы – это квинтэссенция земли, природы и региональной культуры, которые создают характерные фирменные блюда этой земли. Только приехав в Тханьхоа, вы сможете попробовать эти очень впечатляющие, характерные и вкусные блюда.
    </p>
    <div class="gallery">
        <div class="col">
            <figure>
                <p class="image-name">"Нем чуа Тханьхоа (ферментированная свинина Тханьхоа)"</p>
                <img src="assets/images/central/xu thanh/nemchuathanhhoa.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Тхит чау нау ла лом (буйволятина с листьями лом)"</p>
                <img src="assets/images/central/xu thanh/thittraunaulalom.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Бань гай (пирожки с листьями рами)"</p>
                <img src="assets/images/central/xu thanh/banhgaitutru.jpg" alt="dddd">
            </figure>
        </div>
        <div class="col">
            <figure>
                <p class="image-name">"Че лам Фукуанг (сладкий батончик Че лам)"</p>
                <img src="assets/images/central/xu thanh/chelamphuquang.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Тим миа Тхатьтхань (полевые птицы с сахарным тростником)"</p>
                <img src="assets/images/central/xu thanh/chimmiathachthanh.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Ча том (креветочные котлеты)"</p>
                <img src="assets/images/central/xu thanh/cha tom.jpg" alt="dddd">
            </figure>
        </div>
        <div class="col">
            <figure>
                <p class="image-name">"Бань да (рисовые крекеры)"</p>
                <img src="assets/images/central/xu thanh/banhdalangminhchau.jpg" alt="dddd">
            </figure>
            <figure>
                <p class="image-name">"Нем тхинь Тханьхоа (ферментированная свинина с рисовой пудрой)"</p>
                <img src="assets/images/central/xu thanh/nem-thinh-thanh-hoa-1.jpg" alt="dddd">
            </figure>
        </div>
    </div>
</div>