<main class="localities-layout">
    <div class="row">
        <div class="container">
            <div class="img-container">
                <img src="assets/images/north/am thuc.png" alt="Ẩm thực miền Bắc">
            </div>
            <div class="text-container">
                <h2>СЕВЕРНАЯ КУХНЯ</h2>
                <p>Блюда северной кухни имеют нежный вкус, не слишком острые, не слишком крепкие.
                    Часто подчеркивает естественную свежесть, гармоничность и деликатность вкуса.</p>
                <a class="arrow" href="/north">→</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="img-container">
                <img src="assets/images/central/trung.png" alt="Ẩm thực miền Trung">
            </div>
            <div class="text-container">
                <h2>ЦЕНТРАЛЬНАЯ КУХНЯ</h2>
                <p>Суровый Центральный регион рождает насыщенные, ароматные блюда, которые одновременно являются
                    деревенскими и самобытными.
                </p>
                <a class="arrow" href="/central">→</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="img-container">
                <img src="assets/images/south/nam.png" alt="Ẩm thực miền Nam">
            </div>
            <div class="text-container">
                <h2>ЮЖНАЯ КУХНЯ</h2>
                <p>Южная кухня — богатая, удобная, непринужденная, вкусная, деревенская и знакомая.</p>
                <a class="arrow" href="/south">→</a>
            </div>
        </div>
    </div>
</main>