<div class="description">
  <h2>Кухня Северного Вьетнама</h2>
  <p class="content">
    <b>Кухня Северного Вьетнама</b> очень богата и разнообразна, очень прихотлива в украшении и добавлении специй, и при
    этом привлекательна при приготовлении из свежих ингредиентов. Если кухня Центрального Вьетнама несет отпечаток
    солнечной и ветреной земли, а кухня Юга – это смешение многих кулинарных традиций, то кухня Севера ярко отражает
    самобытность древней культуры. Именно поэтому кухня Севера была отточена до стандарта, который не так-то легко
    изменить.
    Блюда северян имеют изысканный вкус, не слишком острый, не слишком резкий. И обычно подчеркивают свежий натуральный
    вкус каждого продукта. Способ приготовления и добавления специй также очень утонченный, гармоничный на вид, с
    умеренным вкусом и ароматом. Особое внимание уделяется изысканности, простоте, но при этом подчеркивается
    квинтэссенция вкусов блюд.
    Помимо пышного новогоднего застолья, повседневные блюда в уличных кафе или домашние блюда северян никогда не
    готовятся наспех, лишь бы поесть.
  </p>
  <p class="content">Кухня Севера условно делится на 2 основных региона: равнинный и горный:</p>
</div>
<div class="session">
  <div class="title">Северо-Западный регион</div>
  <p class="content">В равнинной части Северного Вьетнама жители употребляют много культивируемых овощей, таких как
    ипомея водяная (рау муонг), тыква-горлянка, различные виды капусты…, рис и легкодоступные пресноводные продукты,
    такие как креветки, крабы, рыба, моллюски… В целом, из-за давних традиций бедного сельского хозяйства, в кухне
    Севера раньше было мало блюд с мясом или рыбой в качестве основного ингредиента. Это также отражает принцип
    комплексности вьетнамской кухни в целом, когда на одном столе много блюд, которые могут сочетать различные овощи, а
    также характерные овощи, подаваемые отдельно с рыбой или креветками. Часто используемые специи – это ароматные
    травы, такие как базилик, перистолистник, душица, укроп, эрингиум (муй тау), растительные специи, такие как чили,
    перец, лемонграсс, лук-шалот, чеснок, имбирь…, а также ферментированные специи, такие как рисовая закваска (ме),
    креветочная паста (мам том), рисовое вино (бонг рыоу), уксус (зям тхань), жженый сахар (кео данг), кокосовое
    молоко…, но при этом используется мало жира и особенно рыбный соус, основная функция которого – создание гармонии
    всех вкусов в каждом блюде.
  </p>
  <p class="content">Кухня Северного Вьетнама, как и другие кухни, в той или иной степени подвержена влиянию принципа
    инь-ян и пяти элементов. В одной тарелке лапши (фо, рисовая лапша, бун...) всегда сочетаются сладость куриного или
    говяжьего мяса; легкая острота имбиря, черного перца, жгучая острота чили; кислинка лайма, терпкий аромат различных
    трав... и всё это объединяется сладковатым вкусом бульона, сваренного на костях.
  </p>
  <div class="gallery">
    <div class="col">
      <figure>
        <p class="image-name">"Фо чуа Лангшон (кислый суп Фо из Лангшона)"</p>
        <img src="assets/images/north/Northwest Region/pho chua lang son.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Бе тяо Мокчау (жареная телятина из Мокчау)"</p>
        <img src="assets/images/north/Northwest Region/be chao moc chau.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Ка хой Шапа (лосось из Шапы)"</p>
        <img src="assets/images/north/Northwest Region/ca hoi sapa.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Сой нэп ныонг Майчау (клейкий рис из Майчау)"</p>
        <img src="assets/images/north/Northwest Region/xoi.jpg" alt="1111">
      </figure>
    </div>
    <div class="col">
      <figure>
        <p class="image-name">"Ком лам Тэйбак (рис в бамбуке по-северо-западному)"</p>
        <img src="assets/images/north/Northwest Region/com lam tay bac.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Кхау нюк Лангшон (тушеная свиная грудинка из Лангшона)"</p>
        <img src="assets/images/north/Northwest Region/khau nhuc lang son.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Мак кхен (специя)"</p>
        <img src="assets/images/north/Northwest Region/mac khen.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Тхит гак бэп Лаокай (вяленое мясо из Лаокая)"</p>
        <img src="assets/images/north/Northwest Region/thit gac bep lao cai.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Вит куай Лангшон (утка по-пекински из Лангшона)"</p>
        <img src="assets/images/north/Northwest Region/vit quay lang son.jpg" alt="1111">
      </figure>
    </div>
    <div class="col">
      <figure>
        <p class="image-name">"Фо чуа Лангшон (кислый суп Фо из Лангшона)"</p>
        <img src="assets/images/north/Northwest Region/pho chua lang son.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Рыоу тао мео (яблочное вино)"</p>
        <img src="assets/images/north/Northwest Region/ruou tao meo.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Тханг ко Лаокай (суп из конских потрохов из Лаокая)"</p>
        <img src="assets/images/north/Northwest Region/thang co lao cai.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Нам пиа (блюдо из внутренностей)"</p>
        <img src="assets/images/north/Northwest Region/nam pia.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Ка суой ныонг (речная рыба на гриле)"</p>
        <img src="assets/images/north/Northwest Region/ca muoi nuong.jpg" alt="1111">
      </figure>
    </div>
  </div>
</div>
<hr>
<div class="session">
  <div class="title">Равнинный регион</div>
  <p class="content">Северо-Запад – это регион со множеством мест для развития общинного туризма, где сходятся,
    сохраняются и оберегаются квинтэссенции культурных ценностей этнических сообществ. Типичными примерами являются
    обычаи и традиции, фестивали, декоративное искусство, кулинария, а также культурные мероприятия сообщества, такие
    как весенние фестивали, культура ярмарок, свадьбы, похороны, праздник нового риса, обряды поклонения лесу… Среди
    этих культурных аспектов традиционная кухня, связанная с местной культурой каждого народа, сохраняется, передается и
    развивается соотечественниками как в культурной жизни, так и в развитии общинного туризма в каждой деревне, внося
    важный вклад в формирование самобытности каждого туристического направления.
  </p>
  <p class="content">Чтобы приготовить блюда, насыщенные традиционными красками и вкусами, в деревнях представители
    этнических групп сами находят ингредиенты в лесу или в своих садах, а не покупают их. В зависимости от сезона,
    используются всегда свежие и ароматные продукты, такие как лесной бамбук, речная рыба, вяленая свинина, копченое
    мясо, цветной клейкий рис, различные виды пирожков, лесные травы, собранные у ручьев... Собрав ингредиенты, они
    готовят блюда по традиционным рецептам. Для создания необычных вкусов используются лесные специи, такие как семена
    дой, маккхен, перец, чили, ароматные листья, а также проявляется творческий подход к приготовлению.
  </p>
  <div class="gallery">
    <div class="col">
      <figure>
        <p class="image-name">"Бань кай Тхайбинь (сладкий пирог из Тхайбиня)"</p>
        <img src="assets/images/north/Delta Region/banh cay thai binh.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Бань зяй (клейкие рисовые лепешки)"</p>
        <img src="assets/images/north/Delta Region/banh giay.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Бань да (рисовые крекеры)"</p>
        <img src="assets/images/north/Delta Region/banh da.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Нем нам Намдинь (ферментированная свинина из Намдиня)"</p>
        <img src="assets/images/north/Delta Region/nem nam nam dinh.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Нем ран (жареные спринг-роллы)"</p>
        <img src="assets/images/north/Delta Region/nem ran.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Фо куон (роллы из лапши Фо)"</p>
        <img src="assets/images/north/Delta Region/pho cuon.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Бун дау мам том (вермишель с тофу и креветочной пастой)"</p>
        <img src="assets/images/north/Delta Region/bun dau mam tom.jpg" alt="1111">
      </figure>
    </div>
    <div class="col">
      <figure>
        <p class="image-name">"Бань гай Намдинь (пирожки с листьями рами из Намдиня)"</p>
        <img src="assets/images/north/Delta Region/banh gai nam dinh.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Бань чынг (новогодний пирог из клейкого риса)"</p>
        <img src="assets/images/north/Delta Region/banh chung.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Бань зяй 1 (клейкие рисовые лепешки 1)"</p>
        <img src="assets/images/north/Delta Region/banh giay1.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Бань фу тхэ Бакнинь (супружеские пирожки из Бакниня)"</p>
        <img src="assets/images/north/Delta Region/banh phu the bac ninh.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Бань тэ Ханой (рисовые пирожки из Ханоя)"</p>
        <img src="assets/images/north/Delta Region/banh te ha noi.png" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Бань дау сань Хайзыонг (пирожные из маша из Хайзыонга)"</p>
        <img src="assets/images/north/Delta Region/banh dau xanh hai duong.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Фо бо Ханой_Намдинь (говяжий суп Фо из Ханоя/Намдиня)"</p>
        <img src="assets/images/north/Delta Region/pho bo ha noi nam dinh1.jpg" alt="1111">
      </figure>
    </div>
    <div class="col">
      <figure>
        <p class="image-name">"Бань дау сань Хайзыонг 2 (пирожные из маша из Хайзыонга 2)"</p>
        <img src="assets/images/north/Delta Region/banh dau xanh hai duong1.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Бун ка ро Ханам (вермишель с рыбой ро из Ханама)"</p>
        <img src="assets/images/north/Delta Region/bun ca ro ha nam.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Бун ча Ханой (вермишель с жареной свининой из Ханоя)"</p>
        <img src="assets/images/north/Delta Region/bun cha ha noi.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Бун тханг Ханой (суп-лапша тханг из Ханоя)"</p>
        <img src="assets/images/north/Delta Region/bun thang ha noi.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Ка кхо Вудай (тушеная рыба из Вудая)"</p>
        <img src="assets/images/north/Delta Region/ca kho vu dai.jpg" alt="1111">
      </figure>
      <figure>
        <p class="image-name">"Ком ланг Вонг (зеленый рис из деревни Вонг)"</p>
        <img src="assets/images/north/Delta Region/com lang vong.jpg" alt="1111">
      </figure>
    </div>
  </div>
</div>