<header class="header">
  <a class="button" routerLink="/index" routerLinkActive="active"> Главная </a>
  <a class="button" routerLink="/north" routerLinkActive="active">Север</a>
  <a class="button" routerLink="/central" routerLinkActive="active">Центр</a>
  <a class="button" routerLink="/south" routerLinkActive="active">Юг</a>
</header>

<main class="main-layout">
  <div class="container">
    <p class="title">
      <span class="vietnam">Вьетнамская</span>
      <span class="vietnam">кулинарная</span>
      <span class="vietnam">идентичность</span>
      <span class="vietnam"></span>
    </p>
  </div>
</main>

<router-outlet></router-outlet>