<div class="description">
    <h2>Кухня Южного Вьетнама</h2>
    <p class="content">Говоря о Юге, часто вспоминают фразу: «В реке – рыба, на берегу – овощи». Это плодородная,
        богатая земля,
        орошаемая густой сетью рек, каналов и ручьев. Природа всегда щедро одаривала Юг разнообразными дарами.
        Кухня Южного Вьетнама несет в себе черты широты души и дикой природы, благодаря богатой и щедрой природе
        южных речных земель.
        Поскольку природа щедро одарила Юг разнообразными продуктами, кулинарная культура Южного Вьетнама тяготеет
        к изобилию, блюда ориентированы на удовольствие от еды, вкусную еду, непринужденную трапезу южан. Хотя Юг
        широко принимает кулинарные культуры других регионов, он все же сохраняет свой собственный отпечаток с
        характерной простотой в своей южной кулинарной культуре.
    <p class="content">Кухня Юга делится на 2 региона:</p>
    <div class="session">
        <div class="title">Юго-Западный регион</div>
        <p class="content">«Миен Тай» (Западный регион) напоминает не только о зеленой, плодородной земле, но
            и пробуждает в сердцах туристов воспоминания о «восхитительных деликатесах», которые можно найти
            только в дельте Меконга. Благоприятный климат «дождь в срок, ветер в лад» круглый год создает
            условия для буйной растительности, а реки, полные плодородного ила, удобряют землю. Именно
            благодаря таким условиям сформировалась очень богатая и разнообразная кухня Западного региона.
        </p>
        <div class="gallery">
            <div class="col">
                <figure>
                    <p class="image-name">"Ба кхиа ранг ме (жареные крабы ба кхиа с тамариндом)"</p>
                    <img src="assets/images/south/Southwest Region/ba khia rang me.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Бань конг Кантхо (пирожки конг из Кантхо)"</p>
                    <img src="assets/images/south/Southwest Region/banh cong can tho.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Бань дук ла зыа Кантхо (пирог дук с листьями пандана из Кантхо)"</p>
                    <img src="assets/images/south/Southwest Region/banh duc la dua can tho.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Бань онг ла зыа (трубочки с листьями пандана)"</p>
                    <img src="assets/images/south/Southwest Region/banh ong la dua.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Бань там кай (острые пирожки там)"</p>
                    <img src="assets/images/south/Southwest Region/banh tam cay.png" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Бань сео (хрустящие блинчики)"</p>
                    <img src="assets/images/south/Southwest Region/banh xeo.jpg" alt=" 11111111">
                </figure>
            </div>
            <div class="col">
                <figure>
                    <p class="image-name">"Бун ныок кен (вермишель с рыбным карри)"</p>
                    <img src="assets/images/south/Southwest Region/bun nuoc ken.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Ка лок ныонг чуй (запеченный на углях змееголов)"</p>
                    <img src="assets/images/south/Southwest Region/ca loc nuong trui.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Ка сиу Кьензянг (моллюски ка сиу из Кьензянга)"</p>
                    <img src="assets/images/south/Southwest Region/ca xiu kien giang.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Зыа бон бон Камау (маринованный рогоз из Камау)"</p>
                    <img src="assets/images/south/Southwest Region/dua bon bon ca mau.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Зыонг зыа Бенче (кокосовые черви из Бенче)"</p>
                    <img src="assets/images/south/Southwest Region/duong dua ben tre.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Гой ка чить Фукуок (салат из сырой сельди с Фукуока)"</p>
                    <img src="assets/images/south/Southwest Region/goi ca trich phu quoc.jpg" alt=" 11111111">
                </figure>
            </div>
            <div class="col">
                <figure>
                    <p class="image-name">"Бун гой да (вермишелевый суп с травами)"</p>
                    <img src="assets/images/south/Southwest Region/bun goi da.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Лау мам Кантхо (хот-пот с ферментированной рыбой из Кантхо)"</p>
                    <img src="assets/images/south/Southwest Region/lau mam can tho.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Нем лай вунг Донгтхап (ферментированная свинина из Лайвунга,
                        Донгтхап)"</p>
                    <img src="assets/images/south/Southwest Region/nem lai vung dong thap.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Ран ри Камау (водяная змея из Камау)"</p>
                    <img src="assets/images/south/Southwest Region/ran ri ca mau.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Вит нау тяо (утка, тушенная с ферментированным тофу)"</p>
                    <img src="assets/images/south/Southwest Region/vit nau chao.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Сой Хатьен (клейкий рис из Хатьена)"</p>
                    <img src="assets/images/south/Southwest Region/xoi ha tien.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Ху тиеу Митхо (суп-лапша ху тиеу из Митхо)"</p>
                    <img src="assets/images/south/Southwest Region/hu tieu my tho.jpg" alt=" 11111111">
                </figure>
            </div>
        </div>
    </div>
    <hr>
    <div class="session">
        <div class="title">Юго-Восточный регион</div>
        <p class="content">Юго-Восточный регион – это наиболее экономически развитый регион страны, известный
            своими промышленными зонами в таких провинциях, как Донгнай, Биньзыонг, и городе Хошимине. Здесь
            также много известных деликатесов, которые приводят в восторг туристов.
        </p>
        <div class="gallery">
            <div class="col">
                <figure>
                    <p class="image-name">"Бань бео би (паровые лепешки со свиной кожей)"</p>
                    <img src="assets/images/south/Southeast Region/banh beo bi.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Бань бонг лан чынг муой Сайгон (бисквит с соленым яичным желтком из
                        Сайгона)"</p>
                    <img src="assets/images/south/Southeast Region/banh bong lan trung muoi sai gon.png"
                        alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Бань кань ге (суп-лапша с крабом)"</p>
                    <img src="assets/images/south/Southeast Region/banh canh ghe.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Бань кань Чангбанг (суп-лапша из Чангбанга)"</p>
                    <img src="assets/images/south/Southeast Region/banh canh trang bang.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Бань кхот (мини-блинчики)"</p>
                    <img src="assets/images/south/Southeast Region/banh khot.jpg" alt=" 11111111">
                </figure>
            </div>
            <div class="col">
                <figure>
                    <p class="image-name">"Бань ми фа лау (багет с тушеными потрохами)"</p>
                    <img src="assets/images/south/Southeast Region/banh mi pha lau.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Лау ка дуой (хот-пот со скатом)"</p>
                    <img src="assets/images/south/Southeast Region/lau ca duoi.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Ком там Сайгон (дробленый рис по-сайгонски)"</p>
                    <img src="assets/images/south/Southeast Region/com tam sai gon.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Гой быой Танчьеу (салат из помело из Танчьеу)"</p>
                    <img src="assets/images/south/Southeast Region/goi buoi tam trieu.jpg" alt=" 11111111">
                </figure>
            </div>
            <div class="col">
                <figure>
                    <p class="image-name">"Бань чанг чон (микс из рисовой бумаги)"</p>
                    <img src="assets/images/south/Southeast Region/banh trang tron.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Бот чиен (жареные рисовые лепешки)"</p>
                    <img src="assets/images/south/Southeast Region/bot chien.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Ху тиеу Намванг (суп-лапша ху тиеу по-пномпеньски)"</p>
                    <img src="assets/images/south/Southeast Region/hu tieu nam vuong.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Суй као Сайгон (пельмени по-сайгонски)"</p>
                    <img src="assets/images/south/Southeast Region/sui cao sai gon.jpg" alt=" 11111111">
                </figure>
                <figure>
                    <p class="image-name">"Тхан лан нуй Баден (горная ящерица с горы Баден)"</p>
                    <img src="assets/images/south/Southeast Region/than lan nui ba den.jpg" alt=" 11111111">
                </figure>
            </div>
        </div>
    </div>